<div class="single-buyer-container">
  <div>
    <p>نام:</p>
    <p><%= buyer.name %></p>
  </div>

  <div>
    <p>شماره تماس:</p>
    <p><%= buyer.number %></p>
  </div>

  <div>
    <p>چک ها:</p>
    <p><%= buyer.checks.length %></p>
  </div>

  <div>
    <p>بدهکاری:</p>
    <p><%= buyer.checks.map(c => c.soledPrice).reduce((a,b) => a + b, 0).toLocaleString() %></p>
  </div>

  <form action="/buyers/delete?id=<%= buyer.id %>" method="post">
    <button class="del-btn">حذف</button>
  </form>
</div>