<div class="single-buyer-container">
  <div>
    <p>نام:</p>
    <p><%= buyer.name %></p>
  </div>

  <div>
    <p>شماره تماس:</p>
    <p><%= buyer.number %></p>
  </div>

  <div>
    <p>چک ها:</p>
    <p><%= buyer.checks.length %></p>
  </div>

  <div>
    <p>بدهکاری:</p>
    <p><%= (buyer.checks.map(c => c.soledPrice).reduce((a,b) => a + b, 0) - buyer.receipts.map(c => c.value).reduce((a,b) => a + b, 0)).toLocaleString() %><small>ریال</small></p>
  </div>

  <a href="/buyers/<%= buyer.id %>">جزئیات</a>
  <form action="/buyers/delete?id=<%= buyer.id %>" method="post">
    <button class="del-btn">حذف</button>
  </form>
</div>