<div class="single-buyer-container">
  <div>
    <p>مبلغ چک:</p>
    <p><%= check.checkValue %></p>
  </div>

  <div>
    <p>شماره چک:</p>
    <p><%= check.checkNumber %></p>
  </div>

  <div>
    <p>تاریخ چک:</p>
    <p><%= check.checkDate %></p>
  </div>

  <div>
    <p>صاحب چک:</p>
    <p><%= check.customerName %></p>
  </div>

  <div>
    <p>شماره صاحب چک:</p>
    <p><%= check.customerNumber %></p>
  </div>

  <form action="/checks/delete?id=<%= check.id %>" method="post">
    <button class="del-btn">حذف</button>
  </form>
</div>