<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
  <%- include("../templates/header.ejs", {title : "آیفون استور", css : "homePage"}) %>
</head>
<body>
  <%- include("../templates/sideBar.ejs") %>
  <div id="check-container">
    <div>
      <h1><%= buyer.name %></h1>
      <a href="/buyers/new">ثبت خریدار</a>
    </div>
    
    <div class="single-buyer-container sellTo-container single-buyer">
      <div>
        <div>
          <p>شماره تماس:</p>
          <p><%= convert.toPersian(buyer.number) %></p>
        </div>

        <div>
          <p>تعداد چک ها:</p>
          <p><%= convert.toPersian(buyer.checks.length) %></p>
        </div>

        <div>
          <p>بدهکاری:</p>
          <p><%= convert.toPersian((buyer.checks.map(c => c.soledPrice).reduce((a,b) => a + b, 0) - buyer.receipts.map(c => c.value).reduce((a,b) => a + b, 0)).toLocaleString()) %> <small>ریال</small></p>
        </div>

        <div>
          <a href="/buyers/<%= buyer.id %>/receipt">ثبت دریافتی</a>
        </div>
      </div>

      <div>
        <% buyer.checks.forEach(check => { %>
          <div>
            <p>شماره چک: <%= convert.toPersian(check.checkNumber) %></p>
            <p>تاریخ چک: <%= convert.toPersian(check.checkDate) %></p>
            <p>مبلغ چک: <%= convert.toPersian(check.checkValue.toLocaleString()) %><small>ریال</small></p>
            <p>نام صاحب چک: <%= convert.toPersian(check.customerName) %></p>
            <p>شماره صاحب چک: <%= convert.toPersian(check.customerNumber) %></p>
            <p>درصد فروش: <%= convert.toPersian(check.soledPercent) %>%</p>
            <p>مبلغ دریافتی: <%= convert.toPersian(check.soledPrice.toLocaleString()) %><small>ریال</small></p>
            <a href="/checks/restore?id=<%= check.id %>&return=/buyers/<%=check.buyerId%>" class="restore-check">عودت چک</a>
          </div>
        <% }) %>
      </div>
    </div>
  </div>
</body>
</html>